<h1>Chat Rooms</h1>

<%= link_to "Create New Chat Room", new_chat_room_path, class: "button" %>

<ul>
  <% @chat_rooms.each do |chat_room| %>
    <li>
      <%= link_to chat_room.name, chat_room_path(chat_room) %>
    </li>
  <% end %>
</ul>
