<h2>Create a New Chat Room</h2>

<%= form_with model: @chat_room, local: true do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Chat Room Name" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Chat Room" %>
  </div>
<% end %>
